<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Basic Tests">
	<parameter name="browser" value="chrome" />
	<test name="basic" preserve-order="true">
		<classes>
			<class name="test.java.Basic.SuiteBaseTemplate" />
			<!--class name="tests.Basic.testurl" -->
			<!--class name="tests.BlogTests.BlogTests" -->
			<!--class name="test.java.ContactTests.ContactPageTests" -->
			<class name="test.java.ContactTests.ContactCustomerSupport" />
		</classes>
	</test>
</suite>